
<div class="ui container">
<div class="ui header">Ajout modifier dev </div>
{{input value=model.copy.identity class= "ui input"}}
<button {{action "save" model}} class="ui button">Ajouter</button>

</div>
{{outlet}}